Versão 1/XML/membros.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="MEMBROS">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="MEMBRO"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MEMBRO">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="IMAGEM"/>
        <xs:element ref="NOME"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IMAGEM" type="xs:string"/>
  <xs:element name="NOME" type="xs:string"/>
</xs:schema>