Versão 1/XML/membros.dtd

<?xml encoding="UTF-8"?>

<!ELEMENT MEMBROS (MEMBRO)+>
<!ATTLIST MEMBROS
  xmlns CDATA #FIXED ''>

<!ELEMENT MEMBRO (IMAGEM,NOME)>
<!ATTLIST MEMBRO
  xmlns CDATA #FIXED ''>

<!ELEMENT IMAGEM (#PCDATA)>
<!ATTLIST IMAGEM
  xmlns CDATA #FIXED ''>

<!ELEMENT NOME (#PCDATA)>
<!ATTLIST NOME
  xmlns CDATA #FIXED ''>