Versão 1/XML/noticias.dtd

<?xml encoding="UTF-8"?>

<!ELEMENT NOTICIAS (NOTICIA)+>
<!ATTLIST NOTICIAS
  xmlns CDATA #FIXED ''>

<!ELEMENT NOTICIA (TITULO,DATA,RESUMO,LINK)>
<!ATTLIST NOTICIA
  xmlns CDATA #FIXED ''>

<!ELEMENT TITULO (#PCDATA)>
<!ATTLIST TITULO
  xmlns CDATA #FIXED ''>

<!ELEMENT DATA (#PCDATA)>
<!ATTLIST DATA
  xmlns CDATA #FIXED ''>

<!ELEMENT RESUMO (#PCDATA)>
<!ATTLIST RESUMO
  xmlns CDATA #FIXED ''>

<!ELEMENT LINK (#PCDATA)>
<!ATTLIST LINK
  xmlns CDATA #FIXED ''>